.out {
    padding: 30px 0;
    span {
        color: green;
        font-weight: bold;
        font-size: 20px;
    }
}

.holder-cart {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    margin: 0 -15px;
    @media screen and (min-width: 480px) {
        flex-direction: row;
        flex-wrap: wrap;

    }

    .holder-pizza {
        padding: 0 15px;
        @media screen and (min-width: 768px) {
            width: 50%;
        }
        @media screen and (min-width: 992px) {
            width: 33.33%;
        }
    }

    .pizza-card {
        display: flex;
        padding: 5px;
        align-items: center;
        .visual {
            padding: 5px;
            img {
                max-width: 150px;
                @media screen and (min-width: 480px) {
                    // max-width: 80px;
                }
            }
        }
        .text {
            padding: 5px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h2 {
                flex-grow: 1;
                font-size: 20px;
                text-transform: uppercase;
                color: #444;
                margin-bottom: 16px;
            }
            input {
                padding: 5px 8px;
                width: 50px;
            }
            .count-price {
                margin-bottom: 16px;
            }
            button {
                color: #ffffff;
                padding: 5px 10px;
                background: #cacaca;
                align-items: flex-end;
            }
        }
    }
}

.b {
        height: 50px;
        line-height: 50px;

}
