header {
    background-color: #ebebeb;
}

.holder-header {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    h1 {
        text-transform: uppercase;
        a {
            // color: #fdfdfd;
            text-decoration: none;
            color: #444444;
            background: #ebebeb;
            text-shadow: 1px 0px 1px #CCCCCC, 
                         0px 1px 1px #EEEEEE, 
                         2px 1px 1px #CCCCCC, 
                         1px 2px 1px #EEEEEE, 
                         3px 2px 1px #CCCCCC, 
                         2px 3px 1px #EEEEEE, 
                         4px 3px 1px #CCCCCC, 
                         3px 4px 1px #EEEEEE, 
                         5px 4px 1px #CCCCCC, 
                         4px 5px 1px #EEEEEE, 
                         6px 5px 1px #CCCCCC, 
                         5px 6px 1px #EEEEEE, 
                         7px 6px 1px #CCCCCC;
            &:hover {
                color: #356455;
            }
        }
    }
    button {
        border: none;
        cursor: pointer;
        background-color: inherit;
        &:focus {
            outline-color: #ebebeb;
        }
    }

    .MuiSvgIcon-root {
        width: 1.5em;
        height: 1.5em;
        color: #444444;
        &:hover {
            color: #356455;
        }
    }
}